<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>driver</param-name>
        <param-value>com.mysql.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>url</param-name>
        <param-value>jdbc:mysql://localhost:3306/project</param-value>
    </context-param>
    <context-param>
        <param-name>un</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>password</param-name>
        <param-value>ajava</param-value>
    </context-param>
    <context-param>
        <param-name>accesstoken</param-name>
        <param-value>fPjLS4bWyLAAAAAAAAAAGewb-fkYSKQSTYjI3GSG__y_eVMLTeCd0qnZSlnU82Cv</param-value>
    </context-param>
    <listener>
        <listener-class>dbconnect.DbConnection</listener-class>
    </listener>
    <servlet>
        <servlet-name>SerCourse</servlet-name>
        <servlet-class>ser.SerCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerSubject</servlet-name>
        <servlet-class>ser.SerSubject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerSelection</servlet-name>
        <servlet-class>ser.SerSelection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerSection</servlet-name>
        <servlet-class>ser.SerSection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerSubSec</servlet-name>
        <servlet-class>ser.SerSubSec</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerViewCourse</servlet-name>
        <servlet-class>ser.SerViewCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerDelete</servlet-name>
        <servlet-class>ser.SerDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletViewCourse</servlet-name>
        <servlet-class>ser.ServletViewCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerAddSubSec</servlet-name>
        <servlet-class>ser.SerAddSubSec</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerAddRole</servlet-name>
        <servlet-class>ser.SerAddRole</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerAddPriority</servlet-name>
        <servlet-class>ser.SerAddPriority</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerPerson</servlet-name>
        <servlet-class>ser.SerPerson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerAddDesignation</servlet-name>
        <servlet-class>ser.SerAddDesignation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComboServlet</servlet-name>
        <servlet-class>ser.ComboServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerFirstPage</servlet-name>
        <servlet-class>ser.SerFirstPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerLogin</servlet-name>
        <servlet-class>ser.SerLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerAddAttribute</servlet-name>
        <servlet-class>ser.SerAddAttribute</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerUserRole</servlet-name>
        <servlet-class>ser.SerUserRole</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerForgotPassword</servlet-name>
        <servlet-class>ser.SerForgotPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerChangePassword</servlet-name>
        <servlet-class>ser.SerChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerAssignRole</servlet-name>
        <servlet-class>ser.SerAssignRole</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerPersonAndroid</servlet-name>
        <servlet-class>ser.SerPersonAndroid</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerContactus</servlet-name>
        <servlet-class>ser.SerContactus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerAndroidMenu</servlet-name>
        <servlet-class>ser.SerAndroidMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerAndroidDetails</servlet-name>
        <servlet-class>ser.SerAndroidDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerAndroidGallery</servlet-name>
        <servlet-class>ser.SerAndroidGallery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerViewManageDetail</servlet-name>
        <servlet-class>ser.SerViewManageDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerEditLayout</servlet-name>
        <servlet-class>ser.SerEditLayout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerAssignAttribute</servlet-name>
        <servlet-class>ser.SerAssignAttribute</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerEditCourse</servlet-name>
        <servlet-class>ser.SerEditCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerEditGallery</servlet-name>
        <servlet-class>ser.SerEditGallery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerDetailsAndroid</servlet-name>
        <servlet-class>ser.SerDetailsAndroid</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerUserChecking</servlet-name>
        <servlet-class>ser.SerUserChecking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerCourseAndroid</servlet-name>
        <servlet-class>ser.SerCourseAndroid</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerAllBatchAndroid</servlet-name>
        <servlet-class>ser.SerAllBatchAndroid</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerSetCourse</servlet-name>
        <servlet-class>ser.SerSetCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerAssignValueToAttribute</servlet-name>
        <servlet-class>ser.SerAssignValueToAttribute</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerGetSubject</servlet-name>
        <servlet-class>ser.SerGetSubject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerEditUserDetail</servlet-name>
        <servlet-class>ser.SerEditUserDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerVerifyUser</servlet-name>
        <servlet-class>ser.SerVerifyUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerBatchSlottMaster</servlet-name>
        <servlet-class>ser.SerBatchSlottMaster</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerAndroidFeedback</servlet-name>
        <servlet-class>ser.SerAndroidFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerFeesStatusAndroid</servlet-name>
        <servlet-class>ser.SerFeesStatusAndroid</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerIndividualAndroid</servlet-name>
        <servlet-class>ser.SerIndividualAndroid</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerSpinnerAndroid</servlet-name>
        <servlet-class>ser.SerSpinnerAndroid</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SerCourse</servlet-name>
        <url-pattern>/SerCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerSubject</servlet-name>
        <url-pattern>/SerSubject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerSelection</servlet-name>
        <url-pattern>/SerSelection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerSection</servlet-name>
        <url-pattern>/SerSection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerSubSec</servlet-name>
        <url-pattern>/SerSubSec</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerViewCourse</servlet-name>
        <url-pattern>/SerViewCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerDelete</servlet-name>
        <url-pattern>/SerDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletViewCourse</servlet-name>
        <url-pattern>/ServletViewCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerAddSubSec</servlet-name>
        <url-pattern>/SerAddSubSec</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerAddRole</servlet-name>
        <url-pattern>/SerAddRole</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerAddPriority</servlet-name>
        <url-pattern>/SerAddPriority</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerPerson</servlet-name>
        <url-pattern>/SerPerson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerAddDesignation</servlet-name>
        <url-pattern>/SerAddDesignation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComboServlet</servlet-name>
        <url-pattern>/ComboServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerFirstPage</servlet-name>
        <url-pattern>/SerFirstPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerLogin</servlet-name>
        <url-pattern>/SerLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerAddAttribute</servlet-name>
        <url-pattern>/SerAddAttribute</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerUserRole</servlet-name>
        <url-pattern>/SerUserRole</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerForgotPassword</servlet-name>
        <url-pattern>/SerForgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerChangePassword</servlet-name>
        <url-pattern>/SerChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerAssignRole</servlet-name>
        <url-pattern>/SerAssignRole</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerPersonAndroid</servlet-name>
        <url-pattern>/SerPersonAndroid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerContactus</servlet-name>
        <url-pattern>/SerContactus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerAndroidMenu</servlet-name>
        <url-pattern>/SerAndroidMenu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerAndroidDetails</servlet-name>
        <url-pattern>/SerAndroidDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerAndroidGallery</servlet-name>
        <url-pattern>/SerAndroidGallery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerViewManageDetail</servlet-name>
        <url-pattern>/SerViewManageDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerEditLayout</servlet-name>
        <url-pattern>/SerEditLayout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerAssignAttribute</servlet-name>
        <url-pattern>/SerAssignAttribute</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerEditCourse</servlet-name>
        <url-pattern>/SerEditCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerEditGallery</servlet-name>
        <url-pattern>/SerEditGallery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerDetailsAndroid</servlet-name>
        <url-pattern>/SerDetailsAndroid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerUserChecking</servlet-name>
        <url-pattern>/SerUserChecking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerCourseAndroid</servlet-name>
        <url-pattern>/SerCourseAndroid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerAllBatchAndroid</servlet-name>
        <url-pattern>/SerAllBatchAndroid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerSetCourse</servlet-name>
        <url-pattern>/SerSetCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerAssignValueToAttribute</servlet-name>
        <url-pattern>/SerAssignValueToAttribute</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerGetSubject</servlet-name>
        <url-pattern>/SerGetSubject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerEditUserDetail</servlet-name>
        <url-pattern>/SerEditUserDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerVerifyUser</servlet-name>
        <url-pattern>/SerVerifyUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerBatchSlottMaster</servlet-name>
        <url-pattern>/SerBatchSlottMaster</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerAndroidFeedback</servlet-name>
        <url-pattern>/SerAndroidFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerFeesStatusAndroid</servlet-name>
        <url-pattern>/SerFeesStatusAndroid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerIndividualAndroid</servlet-name>
        <url-pattern>/SerIndividualAndroid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerSpinnerAndroid</servlet-name>
        <url-pattern>/SerSpinnerAndroid</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
